@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100%;
    background:linear-gradient(to right, #48416C 50%,#EDC18D 50%) fixed ; /*Sayfanın yarısı farklı renk,diğer yarısı farklı renk olacak şekilde ayarlandı.*/
}

.container{
    background-color: white;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.3);
    border-radius: 10px;
    perspective: 300px;
}

.stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 2px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    transform-style: preserve-3d;
}

.yazi{
    transform: rotateX(180deg);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.coin img{
    width: 145px;
}

.tura,
.yazi{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;

}
button{
    width: 120px;
    padding: 10px 0px;
    border: 3px groove black;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

#flip-button{
background-color: #B79BF2;
color: white;
}

#flip-button:disabled{
    background-color: white;
    color: black;
    border-radius: #f5f5f5;
}

#reset-button{
    background-color: #fff;
    color: #000;
}

@keyframes spin-yazi{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}

@keyframes spin-tura{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}